.sticky-header {
    display: table-header-group;
    position: sticky;
    top: 0;
    background-color: #f0f0f0; /* optional */
    z-index: 1; /* optional */
}

.table {
    height: 410px; 
    overflow-y: auto;

}